
@{
    ViewBag.Title = "AddEmployee";
}

<h2>AddEmployee</h2>

@*<form action="/" method="post" id="myModal">

    <div class="mb-3">
        <label for="ename" class="form-label">Name</label>
        <input type="text" class="form-control" id="ename" placeholder="Enter Name">
    </div>

</form>*@